<div class="hero">
  <%= image_tag "hero-bg.svg", class:"hero-bg" %>
  <div class="hero-container">
    <%= image_tag "hero-img.svg", class:"hero-container-img" %>
    <%= image_tag "miguel.svg", class:"hero-container-img-me" %>
    <div class="hero-container-info">
        <h1>Miguel Zabala Figueroa</h1>
        <h2>I'm a Frontend Developer and Web Designer.</h2>
        <div class="callToAction">
          <a href="" class="button-secondary">Repositories <i class="fa fa-github"></i></a>
          <a href="" class="button-primary">Contact</a>
        </div>
    </div>
    
  </div>
</div>