<div class="nav">
  <div class="nav-container">
    <div class="nav-container-logo">
      <%= image_tag "logo-black.svg", class: "nav-container-logo-img" %>
    </div>
    <ul class="nav-container-menu">
      <li class="nav-container-menu-item"><a class="item" href="">Status</a></li>
      <li class="nav-container-menu-item"><a class="item" href="">Portfolio</a></li>
      <li class="nav-container-menu-item"><a class="item" href="">Galery</a></li>
      <li class="nav-container-menu-item"><a class="item" href="">Contact</a></li>
    </ul>
    <i class="nav-responsive fa fa-bars"></i>
  </div>
</div>